
.button {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
}

.button:hover {
  background-color: #2c974b;
}

.button:disabled {
  background-color: #4d4e4d;
}