.text_area {
  width: 70%;
  height: 100px;
  border-radius: 4px;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  resize: none;
}

.line {
  width: 50%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
}

.date {
  width: 20%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
}

.container {
  padding: 30px;
}

.field {
  padding-top: 5px;
}

.field_button {
  padding-top: 40px;
}
